<form action="/search" method="GET">
  <div class="form-group">
    <input type="text" class="form-control" name="q" placeholder="search" />
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
